<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
</head>
<body>

{{$wisdom := .}}
<h1>The name of him is: {{$wisdom.Name}}</h1>
<h1>The age of him is: {{$wisdom.Age}}</h1>
</body>
</html>